{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}

<h1 class="text-center mt-5">My Cart:</h1>
{% if cart.linkCart is empty %}

<h2 class="text-center mt-5">Your cart appears to be empty, add some products to it!</h2>
{% else %}
<div class="row">
        {% for article in cart.linkCart %}
        <div class="col-3">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-transparent border-dark">{{article.product.brand}}</div>
                        <div class="card-body text-dark">
                                <h5 class="card-title">Quantity:</h5>
                                <p class="card-text">{{article.quant}}</p>
                        </div>
                        <div class="card-footer bg-transparent border-dark">Costs: {{article.product.price}}
                                <div class="float-right">
                                        <a href="{{path('delete_item', {linkcart:article.id})}}"
                                                class="btn btn-primary">Discard
                                                Item</a>
                                </div>
                        </div>
                </div>
        </div>
        {% endfor %}
</div>
<h3>Total:{{cart.getTotal}} Euros.</h3>
{% endif %}
{% endblock %}