{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<div class="row justify-content-center">
    {% for product in products %}
    <div class="col-3 ml-3 mt-3">
        <div class="card-deck cardProd">
            <div class="card m-auto">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{product.brand}}</h5>
                    <p class="card-text">
                        Prix:{{product.price}} Euros <br>
                        Category: {{product.category}}<br>
                    </p>
                        <br>
                        <a href="{{path('see-product', {product:product.id})}}" class="btn btn-primary">See More</a>
                        <a href="{{path('add_cart', {product:product.id})}}" class="btn btn-primary float-right">Add To Cart</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if products is empty %}
    <h4 class="mt-4">vous avez rentré un champ différent<br>Veuillez éditer une marque existante
        de nos produits </p>
        {% endif %}
</div>
{% endblock %}