{% extends "base.html.twig" %}
{% block title %}
{{product.brand}}
{% endblock title %}

{% block body %}
<h1 class="text-center mt-3">{{product.brand}}</h1>
<div class="row">
    <div class="col-6 mt-3">
        <img class="img-thumbnail" src="{{product.image}}" />
        <a href="{{path('add_cart', {product:product.id})}}" class="btn btn-primary mt-5 align-center">Add To Cart</a>
        <h4 class="mt-5">Add your commentary</h4>
        {{form_start(form)}}
        {{form_widget(form.content)}}
        <button class="btn btn-primary mt-2">Comment</button>
        {{form_end(form)}}

        <br>
        {% if product.commentaries is not empty %}
        <h4>Commentaires</h4>
        {% for commentary in product.commentaries %}
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{commentary.user}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{commentary.date|date("d/m/Y")}}</h6>
                    <p class="card-text">{{commentary.content}}</p>
                    {% if app.user == commentary.user or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('remove_comment', {id:commentary.id})}}"><button
                            class="btn btn-danger">Delete</button></a>
                    <a href="{{ path('modify_comment', {id:commentary.id})}}"><button
                            class="btn btn-info">Modify</button></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>
        {% endif %}
    </div>
    <div class="col-4 mt-5">
        <h2>Description</h2>
        <p>{{product.description|raw}}</p>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        {% if app.user %}
        {% endif %}
    </div>
</div>
<hr>

{% endblock body %}