.tox-notifications-container {display:none!important;}

a {
    text-decoration: none;
    color: black;  
}
body{
    background-color: rgba(211, 211, 211, 0.637);
}
.card {
    background-color:  rgba(211, 211, 211, 0.637);
}