{% extends "base.html.twig" %}

{% block title  %}
{{verb}} Product
{% endblock title   %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-6 mt-3 ">
        <h1>{{verb}} Product</h1>

        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn btn-primary">{{verb}}</button>
        {{form_end(form)}}
    </div>
</div>

<script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>
{% endblock body %}