{% extends "base.html.twig" %}

{% block body %}

<div class="row mb-3">
    <a href="{{path('add-products')}}" class="btn btn-primary">Add Product</a>
</div>
 <div class="row justify-content-center">
{% for product in products %}
<div class="col-3 ml-3 mt-3">
    <div class="card-deck">
        <a href="{{path('see-product', {product:product.id})}}" style="text-decoration:none;">
            <div class="card text-black">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title color-warning">{{product.brand}}</h5>
                    <p class="card-text">
                        Prix:{{product.price}} Euros <br>
                        Category: {{product.category}} <br>
                        Stock: {{product.stock}} <br>
                    </p>
                        <br>
                        <a href="{{path('see-product', {product:product.id})}}" class="btn btn-primary">See
                            More</a>
                        <a href="{{path('add-products', {products:product.id})}}">Modify</a>
                        <a href="{{path('delete-products', {products:product.id})}}">Delete</i></a>
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
{# <a href="{{path('see-product', {products:product.id})}}">See More</a> #}

{% endfor %}
{% endblock body %}