{% extends "base.html.twig" %}
{% block title %}
Add Adress
{% endblock title %}
{% block body %}
<div class="row justify-content-center">
    <div class="col-6 mt-3 ">
        <h1>Add adress</h1>

        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn btn-primary"> Add Adress</button>
        {{form_end(form)}}
    </div>
</div>
{% endblock body %}