<!DOCTYPE html>
<html>

<head>
    {% include "script.html.twig" %}
    <meta charset="UTF-8">
    <title>{% block title %}PC World{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    
    {% include "navbar.html.twig" %}
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
</body>

</html>