<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{path("home")}}">PC World</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item active">
          <a class="nav-link" href="{{path("add-products")}}">Add Product</a>
        </li>
        {% endif %}
    </ul>
    <form class="form-inline" action="search">
      <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% if app.user %}
    <div class="d-flex ml-2 mr-3">
      <div class="dropdown mr-1">
        <button type="button" class="btn btn-success dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" data-offset="10,20">
          Hi {{app.user.name}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
          <a class="dropdown-item" href="{{path('profile')}}">Profile</a>
          {% if is_granted('ROLE_ADMIN') %}
          <a class="dropdown-item" href="{{path('add-products')}}">Add Products</a>            
          {% endif %}
          <a class="dropdown-item" href="{{path('logout')}}">Logout</a>
        </div>
      </div>
      {% if is_granted('ROLE_ADMIN') %}

      {% else %}
      <a class="btn btn-success my-2 my-sm-0 ml-1 mr-1" href="{{path('cart')}}"><i class="fas fa-shopping-cart"><span
            class="badge badge-light ml-1 mt-1">{{app.user.cart.linkcart|length}}</span></i></a>
      {% endif %}
    </div>
    {% else %}
    <a class="btn btn-success my-2 my-sm-0 ml-1" href="{{path('register')}}"><i class="fas fa-user-plus"></i></a>
    <a class="btn btn-success my-2 my-sm-0 ml-1" href="{{path('login')}}" data-toggle="modal"
      data-target="#exampleModal"><i class="fas fa-user"></i><span class="sr-only">(current)</span></a>
    {% endif %}
  </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="POST" action="{{path('login')}}">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" data-error="wrong" data-success="right" class="col-form-label">Email:</label>
            <input type="text" name="_username" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" data-error="wrong" data-success="right" class="col-form-label">Password:</label>
            <input type="password" name="_password" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>