{% extends 'base.html.twig' %}

{% block title %}Hello {{user.name}}!{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-6">
        <h1>Profile</h1>
        <p>Name: {{user.name}}</p>
        <p>Surname: {{user.surname}}</p>
        <div class="mt-3">
            <a href="{{ path('modify_user')}}" class="btn btn-danger">Modify User</a>
            <a href="{{ path('modify_user_password')}}" class="btn btn-danger ml-3">Modify Password</a>
            <a href="{{ path('add_adress')}}" class="btn btn-danger ml-3">Add Address</a>
        </div>
        {# {% if cart.linkCart is null or cart.linkCart is empty %} #}
        
        {# {% else %} #}
        {# <p>Your Cart is Empty</p>
        {% endif %} #}
        <h1 class="mt-3">My Adresses:</h1>
        {% for adress in user.adress %}
        <div class="row mt-3">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Adress</h5>
                        <p class="card-text">{{adress.street}}, {{adress.number}} <br>
                            {{adress.city}}, {{adress.zipCode}} <br>
                            {{adress.country}}
                        </p>
                        <a href="{{ path('add_adress',{adress:adress.id})}}"><i class="fas fa-pencil-alt"></i></a>
                        <a href="{{ path('remove_adress',{adress:adress.id})}}" class="text-right"><i
                                class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}