{% extends "base.html.twig" %}

{% block body %}

{% if error %}
<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="row justify-content-center">
    <div class="col-6 mt-3 mb-3">
        <h3>Login</h3>
        <form action="{{ path('login') }}" method="POST">
            <div class="form-group">
                <input type="text" id="email" name="_username" class="form-control" placeholder="Your Email *"
                    value="{{username}}" />
            </div>
            <div class="form-group">
                <input type="password" id="password" name="_password" class="form-control" placeholder="Your Password *"
                    value="" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </form>
    </div>
</div>
<div class="row">
        <div class="col-6">
            <p>You dont have created an account yet? <a href="{{path('register')}}" class="btn btn-primary">Register</a></p>            
        </div>
    </div>

{% endblock body %}