{% extends "base.html.twig" %}

{% block title %}
Modify User
{% endblock title %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-6 mt-3 ">
        <h1>Modify User</h1>

        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn btn-primary">Modify</button>
        {{form_end(form)}}
    </div>
</div>
{% endblock body %}