{% extends "base.html.twig" %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-6 mt-3 ">
        {{form_start(form)}}
    {{form_widget(form)}}
    <button class="btn btn-primary">Sign up</button>
    {{form_end(form)}}
    </div>
</div>
    
{% endblock body %}